.navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #F93822;
    color: white;
}

.navbar__title {
    display: block;
}

.navbar__navigation {
    display: block;
}

.spacer {
    flex-grow: 1;
}

.navbar__item {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}


.navbar__item a p {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}