.pokemon-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 170px;
}

.pokemon-detail img {
    height: 300px;
    width: 300px;
}

.pokemon-detail__box {
    width: 96vw;
    background-color: #a8dadc;
    /* border-radius: 20px 20px 0px 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pokemon-detail p {
    margin: 0px;
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: 600px;
    color: black;
}

.pokemon-detail__badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pokeball-catch {
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    z-index: 3;
}

.pokeball-catch button {
    font-variant: small-caps;
    font-size: 1rem;
    border: solid 0.5px black;
    border-radius: 8px;
    padding: 8px 20px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}